In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import nan

from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, Dense

from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

In [8]:
#Reading the dataset
data = pd.read_csv('Data\PowerConsumptionData_Cleaned.csv', sep = ';',
                  parse_dates = True,
                  low_memory = False)

In [9]:
#printing the top rows
data.head()

  date_time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0  16/12/2006 17:24:00,4.216,0.418,234.84,18.4,0....
1  16/12/2006 17:25:00,5.36,0.436,233.63,23.0,0.0...
2  16/12/2006 17:26:00,5.374,0.498,233.29,23.0,0....
3  16/12/2006 17:27:00,5.388,0.502,233.74,23.0,0....
4  16/12/2006 17:28:00,3.666,0.528,235.68,15.8,0....

In [11]:
#printing the bottom rows
data.tail()

        date_time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2075254  26/11/2010 20:58:00,0.946,0.0,240.43,4.0,0.0,0...
2075255  26/11/2010 20:59:00,0.944,0.0,240.0,4.0,0.0,0....
2075256  26/11/2010 21:00:00,0.938,0.0,239.82,3.8,0.0,0...
2075257  26/11/2010 21:01:00,0.934,0.0,239.7,3.8,0.0,0....
2075258  26/11/2010 21:02:00,0.932,0.0,239.55,3.8,0.0,0...

In [21]:
#Downsampling the data into dÃ¡y-wise bins and sum the values of the timestamps falling into a bin.
# Converting the index as date
data.index = pd.to_datetime(data.index)
data = data.resample('D').sum()

KeyError: 'date_time'

In [ ]:
#printing the top rows
data.head()